<script lang="ts" setup>
import { computed } from "vue";
import { Message, useConnectionStore } from "../store";
import ProfilePicture from "./ProfilePicture.vue";
import { hueAngle } from "../lib/color";
import MessageImageElement from "./MessageImageElement.vue";
import { FormattedText } from "./FormattedText";
import { JID } from "@skylark/jid";

const props = defineProps<{
  messages: Message[];
}>();

const connectionStore = useConnectionStore();
const localJid = computed(() => connectionStore.localJid.split("/")[0]);

const messageElements = computed(() => {
  const elems = [];
  const bubbleStyleCache: Record<string, string> = {};
  for (const message of props.messages) {
    if (
      elems.length === 0 ||
      message.fromJid !== elems[elems.length - 1].fromJid ||
      message.content.type !== "text"
    ) {
      let bubbleStyle = bubbleStyleCache[message.fromJid];
      if (!bubbleStyle) {
        bubbleStyle = bubbleStyleCache[
          message.fromJid
        ] = `background-color: hsl(${hueAngle(message.fromJid)} 75% 15%)`;
      }
      elems.push({
        fromJid: message.fromJid,
        userNick: new JID(message.fromJid).local ?? "<unknown>",
        bodyLines:
          message.content.type === "text" ? [message.content.text] : [],
        bubbleStyle,
        contentType: message.content.type,
        fileUrl:
          message.content.type === "file" ? message.content.fileUrl : null,
      });
    } else {
      elems[elems.length - 1].bodyLines.push(message.content.text);
    }
  }
  return elems;
});
</script>

<template>
  <div class="space-y-2 -mx-2">
    <div
      v-for="message in messageElements"
      class="w-fit flex"
      :class="{
        'ml-auto flex-row-reverse': localJid === message.fromJid,
      }"
    >
      <ProfilePicture :jid="message.fromJid" class="mx-2" />
      <div
        v-if="message.bodyLines.length"
        class="rounded p-4"
        :style="message.bubbleStyle"
      >
        <FormattedText
          v-for="line in message.bodyLines"
          :raw-text="line"
          :user-nick="message.userNick"
          class="leading-relaxed"
        />
      </div>
      <MessageImageElement v-if="message.fileUrl" :url="message.fileUrl" />
    </div>
  </div>
</template>
