<script lang="ts" setup>
defineProps<{
  url: string;
}>();
</script>

<template>
  <div
    :style="{ 'background-image': `url(${url})` }"
    class="w-[25vw] aspect-video rounded bg-cover bg-center bg-highlight"
  ></div>
</template>
