<script setup lang="ts">
import { computed } from "vue";
import { hueAngle } from "../lib/color";

const props = defineProps<{
  jid: string;
  size?: "sm" | "md" | "default";
}>();

const sizeStyle = {
  sm: "w-6 h-6 text-sm",
  md: "w-10 h-10 text-xl",
  default: "w-12 h-12 text-2xl",
}[props.size ?? "default"];

const colorStyle = computed(() => {
  const hue = hueAngle(props.jid);
  // Lightness of 20% seems to give contrast ratio ~4.7-4.8 with white text
  return {
    "--tw-gradient-from": `hsl(${hue} 100% 15%) var(--tw-gradient-from-position)`,
    "--tw-gradient-to": `hsl(${hue} 100% 25%) var(--tw-gradient-to-position)`,
    "--tw-gradient-stops": "var(--tw-gradient-from), var(--tw-gradient-to)",
  };
});
</script>

<template>
  <div
    class="rounded-full bg-gradient-to-br flex items-center justify-center select-none"
    :class="sizeStyle"
    :style="colorStyle"
  >
    {{ jid[0] }}
  </div>
</template>
