<script setup lang="ts">
import Loading from "./components/LoadingSpinner.vue";
import Login from "./Login.vue";
import Main from "./Main.vue";
import { ConnectionState, useConnectionStore } from "./store";

const connStore = useConnectionStore();
</script>

<template>
  <Login
    v-if="
      connStore.state === ConnectionState.None ||
      connStore.state === ConnectionState.Error
    "
  />
  <Loading v-else-if="connStore.state !== ConnectionState.Done" />
  <Main v-else />
</template>
