<script setup lang="ts">
import { reactive, ref, watch } from "vue";
import { useConnectionStore } from "./store";
import { JID } from "@skylark/jid";
import birdIcon from "./assets/bird.svg?raw";
import { resolveWebsocketUrl } from "./lib/resolve";

const connParams = reactive({
  websocketUrl: "",
  jid: "",
  password: "",
});

const displayUrlField = ref(false);

watch(
  () => connParams.jid,
  () => (displayUrlField.value = false)
);

const connStore = useConnectionStore();

try {
  const persistedParams = localStorage.getItem("skylark:connection_params");
  if (persistedParams) {
    connStore.connect(JSON.parse(persistedParams));
  }
} catch (e) {
  console.warn("Couldn't connect using persisted params", e);
}

async function onSubmit() {
  const jid = new JID(connParams.jid);
  if (!displayUrlField.value) {
    try {
      const wsUrl = await resolveWebsocketUrl(jid.domain);
      connParams.websocketUrl = wsUrl;
    } catch (e) {
      console.warn("Failed to discover WebSocket URL", e);
      displayUrlField.value = true;
      return;
    }
  }

  const clonedParams = Object.assign({}, connParams);
  localStorage.setItem(
    "skylark:connection_params",
    JSON.stringify(clonedParams)
  );
  await connStore.connect(clonedParams);
}
</script>

<template>
  <div
    class="h-screen bg-primary text flex flex-col items-center justify-center space-y-8"
  >
    <h1
      class="lowercase text-6xl font-extralight select-none flex items-center"
    >
      <div class="w-24 h-24 mr-4" v-html="birdIcon"></div>
      Skylark
    </h1>
    <form class="flex flex-col space-y-4 w-1/4" @submit.prevent="onSubmit">
      <div
        v-if="displayUrlField"
        class="bg-amber-900 border border-amber-600 p-4 rounded"
      >
        <p class="font-bold">
          Failed to discover the WebSocket URL of your XMPP server
        </p>
        <p>
          Either your server does not support WebSocket or the WebSocket URL is
          not discoverable. If you know the URL, you can manually enter it
          below.
        </p>
      </div>
      <div class="flex flex-col space-y-2" v-if="displayUrlField">
        <label>WebSocket URL</label>
        <input
          required
          class="rounded-sm p-2 bg-secondary focus:outline-none focus:ring-2"
          v-model="connParams.websocketUrl"
          placeholder="wss://xmpp.example.com/websocket"
        />
      </div>
      <div class="flex flex-col space-y-2">
        <label>JID</label>
        <input
          required
          class="rounded-sm p-2 bg-secondary focus:outline-none focus:ring-2"
          v-model="connParams.jid"
        />
      </div>
      <div class="flex flex-col space-y-2">
        <label>Password</label>
        <input
          required
          type="password"
          class="rounded-sm p-2 bg-secondary focus:outline-none focus:ring-2"
          v-model="connParams.password"
        />
      </div>
      <div class="pt-4">
        <button
          class="p-2 rounded-sm border hover:border-neutral-700 w-full focus:outline-none focus:ring-2"
        >
          Log in
        </button>
      </div>
    </form>
  </div>
</template>
