<script setup lang="tsx">
import { computed, ref, watch } from "vue";
import * as uuid from "uuid";
import { useConnectionStore, useRosterStore, useMessagesStore } from "./store";
import { SkylarkJSX } from "@skylark/core";
import ProfilePicture from "./components/ProfilePicture.vue";
import {
  MessageCircleIcon,
  UsersIcon,
  PlusIcon,
  SettingsIcon,
  SendIcon,
  UploadIcon,
  SearchIcon,
  InfoIcon,
} from "vue3-feather";
import MessageList from "./components/MessageList.vue";

const connectionStore = useConnectionStore();
const rosterStore = useRosterStore();
const messagesStore = useMessagesStore();

const activeChat = ref<string>();
const loadedMessages = computed(() => {
  if (!activeChat.value) return [];
  return messagesStore.forConversation(activeChat.value);
});

watch(activeChat, () => {
  connectionStore.connection?.iq(
    "set",
    <query xmlns="urn:xmpp:mam:2">
      <x xmlns="jabber:x:data" type="submit">
        <field var="FORM_TYPE" type="hidden">
          <value>urn:xmpp:mam:2</value>
        </field>
        <field var="with">
          <value>{activeChat.value}</value>
        </field>
      </x>
      <set xmlns="http://jabber.org/protocol/rsm">
        <max>50</max>
        <before />
      </set>
    </query>
  );
});

const typedMessage = ref("");
async function sendMessage() {
  if (!activeChat.value) return;
  const currentConn = connectionStore.connection;
  if (!currentConn) return;

  if (typedMessage.value.trim() === "") return;

  messagesStore.pushMessage(activeChat.value, {
    fromJid: connectionStore.localJid.split("/")[0],
    timestamp: new Date(),
    content: {
      type: "text",
      text: typedMessage.value,
    },
  });
  currentConn!._sendXml(
    <message
      xmlns="jabber:client"
      to={activeChat.value}
      type="chat"
      id={uuid.v4()}
    >
      <body>{typedMessage.value}</body>
    </message>
  );
  typedMessage.value = "";
}

function uploadFile() {
  const input = document.createElement("input");
  input.type = "file";
  input.click();

  input.onchange = function () {
    console.log(input.files);
  };
}
</script>

<template>
  <div class="h-screen bg-primary text flex border-zinc-700 p-2 space-x-2">
    <div class="w-1/6 space-y-2 flex flex-col">
      <div class="bg-secondary p-2 rounded">
        <div class="flex space-x-4 items-center px-3 py-2 mb-2">
          <ProfilePicture
            size="md"
            :jid="connectionStore.localJid.split('/')[0]"
          />
          <p>{{ connectionStore.localJid.split("/")[0] }}</p>
        </div>
        <div class="flex -ml-2">
          <button
            class="ml-2 flex flex-col items-center py-2 space-y-2 rounded-sm text-sm w-16"
          >
            <MessageCircleIcon /><span>Chats</span>
          </button>
          <button
            class="ml-2 flex flex-col items-center py-2 space-y-2 rounded-sm text-sm w-16 bg-highlight"
          >
            <UsersIcon /><span>Friends</span>
          </button>
          <button
            class="ml-2 flex flex-col items-center py-2 space-y-2 rounded-sm text-sm w-16"
          >
            <PlusIcon /><span>New</span>
          </button>
          <button
            class="ml-auto flex flex-col items-center py-2 space-y-2 rounded-sm text-sm w-16"
          >
            <SettingsIcon /><span>Settings</span>
          </button>
        </div>
      </div>
      <div class="flex-1 bg-secondary p-2 rounded space-y-2">
        <h1 class="uppercase text-dim">Friends</h1>
        <button
          v-for="entry in rosterStore.entries"
          @click="activeChat = entry.jid"
          class="w-full text-left px-2 py-2 rounded-sm flex items-center space-x-4"
          :class="{ 'bg-highlight': activeChat === entry.jid }"
        >
          <ProfilePicture :jid="entry.jid" />
          <div>
            <span class="block">{{ entry.name }}</span>
            <span class="block text-dim text-sm">{{ entry.jid }}</span>
          </div>
        </button>
      </div>
    </div>
    <div class="flex-1 flex flex-col" v-if="activeChat">
      <div class="px-4 bg-secondary rounded h-14 flex items-center space-x-2">
        <ProfilePicture size="sm" :jid="activeChat" />
        <h1>{{ activeChat }}</h1>
        <div class="flex-1"></div>
        <div class="flex items-center space-x-4">
          <button>
            <SearchIcon />
          </button>
          <button>
            <InfoIcon />
          </button>
        </div>
      </div>
      <div class="flex-1 relative">
        <div
          class="absolute py-4 px-2 bottom-0 w-full max-h-full overflow-auto"
        >
          <MessageList :messages="loadedMessages" />
        </div>
      </div>
      <form
        @submit.prevent="sendMessage"
        class="bg-secondary h-14 rounded w-full flex items-center"
      >
        <input
          v-model="typedMessage"
          placeholder="Compose a message..."
          class="bg-[transparent] px-4 h-full focus:outline-none flex-1"
        />
        <div class="px-4 flex items-center text-dim space-x-4">
          <button type="button" @click="uploadFile">
            <UploadIcon />
          </button>
          <button type="submit">
            <SendIcon />
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
